.detailWrapper {
  display: flex;
  flex-direction: column;
}

.imgWrapper img {
  width: 250px;
  margin-block: 16px;
}

.detailWrapper h3 {
  margin-bottom: 16px;
}

.ingredientsWrapper {
  width: 33%;
  background-color: black;
  color: orange;
  padding: 20px;
  margin: 0 auto;
  border-radius: 10px;
}

.ingredients {
  display: flex;
  justify-content: center;
  gap: 14px;
  font-weight: bold;
  line-height: 1.3;
}

.instructions {
  text-align: center;
  margin-top: 16px;
}

.category {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 16px;
  font-style: italic;
}
